.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    justify-content: center;
}

.checkBlock {
    display: flex;
    flex-direction: column;
    // border: 5px solid black;
    margin-right: 15px;
    color: gray;
    align-items: flex-start;
}

.text {
    font-size: 24px;
}

.back {
    position: absolute;
    top: 75vh;
    margin: auto;
    left: 0;
    right: 0;
    height: 25px;
    padding: 0;
    width: 60px;
  
    font-size: 10px;
    
  }